<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<param-name>refreshPeriod</param-name>
		<param-value>60000</param-value>
	</context-param>
	<context-param>
		<param-name>clusterCfgFile</param-name>
		<param-value>flush-tcp-web.xml</param-value>
	</context-param>

	<listener>
		<listener-class>jetsennet.jbmp.servlets.BMPServletContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>XFireServlet</servlet-name>
		<servlet-class>
			org.codehaus.xfire.transport.http.XFireConfigurableServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BMPBinaryFileUploadServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPBinaryFileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BMPFilesUploadServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPFilesUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BMPFileDownloadServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPFileDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BMPOperateFileSystemServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPOperateFileSystemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BMPAlarmQueryReportServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPAlarmQueryReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AtmosphereServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<init-param>
			<param-name>org.atmosphere.useBlocking</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BMPOntimeAutoDisServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPOntimeAutoDisServlet</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BmpExportMibXmlServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BmpExportMibXmlServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>BMPImportMibServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPImportMibServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BmpExportResXmlServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BmpExportResXmlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BMPImportResServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPImportResServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BMPAlarmLogReportServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPAlarmLogReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KindEditorUploadServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.KindEditorUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BMPFilesBatchUploadServlet</servlet-name>
		<servlet-class>jetsennet.jbmp.servlets.BMPFilesBatchUploadServlet</servlet-class>
	</servlet>
		
	

	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BMPBinaryFileUploadServlet</servlet-name>
		<url-pattern>/servlet/BMPBinaryFileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BMPFilesUploadServlet</servlet-name>
		<url-pattern>/servlet/BMPFilesUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BMPFileDownloadServlet</servlet-name>
		<url-pattern>/servlet/BMPFileDownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BMPOperateFileSystemServlet</servlet-name>
		<url-pattern>/servlet/BMPOperateFileSystemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BMPAlarmQueryReportServlet</servlet-name>
		<url-pattern>/servlet/BMPAlarmQueryReportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/AlarmPubSub</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BmpExportMibXmlServlet</servlet-name>
		<url-pattern>/servlet/BmpExportMibXmlServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BMPImportMibServlet</servlet-name>
		<url-pattern>/servlet/BMPImportMibServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BmpExportResXmlServlet</servlet-name>
		<url-pattern>/servlet/BmpExportResXmlServlet</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>BMPImportResServlet</servlet-name>
		<url-pattern>/servlet/BMPImportResServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BMPAlarmLogReportServlet</servlet-name>
		<url-pattern>/servlet/BMPAlarmLogReportServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>KindEditorUploadServlet</servlet-name>
		<url-pattern>/servlet/KindEditorUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BMPFilesBatchUploadServlet</servlet-name>
		<url-pattern>/servlet/BMPFilesBatchUploadServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<mime-mapping>
		<extension>swz</extension>
		<mime-type>application/octet-stream</mime-type>
	</mime-mapping>
	
	<!-- 上传图片中文Filter -->
	<filter>
	  <filter-name>BMPFilesUploadFilter</filter-name> 
	  <filter-class>jetsennet.jbmp.servlets.BMPFilesUploadFilter</filter-class>
	  <init-param>
	   <param-name>encoding</param-name> 
	   <param-value>UTF-8</param-value>  
	  </init-param>
	 </filter>
	 <filter-mapping> 
	  <filter-name>BMPFilesUploadFilter</filter-name>
	  <url-pattern>/upload/*</url-pattern> 
	 </filter-mapping>
	 
	 <!-- 单点登录Filter -->
	<filter>
		<filter-name>ssoCheck</filter-name>
		<filter-class>jetsennet.juum.servlet.SingleSignOnFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ssoCheck</filter-name>
		<url-pattern>/juum/jnetsystemweb/login.htm</url-pattern>
	</filter-mapping>
</web-app>
